@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{

    --scroll-color: #8cdae4;
    --first-color: #1B222F;
    --second-color:#181F2B;
    /* ========== Logo ========== */
    --logo: #fff;
    /* ========== Menu ========== */
    --menu-text-color: #fff;
    --menu-font-size: 14px;
    /* ========== Heading ========== */
    --heading-color: #fff;
    --heading-size: 36px;
    --heading-height: 55px;
    /* ========== Heading ========== */
    --second-heading-color: #fff;
    --second-heading-size: 20px;
    --second-heading-height: ;

     /* ========== Paragraph ========== */
    --para-color: #fff;
    --para-size: 16px;  
    --para-height: 28px;
    /* ========== Small ========== */
    --small-color: #fff;
    --small-size: 14px;
    --small-height: 26px;
    /* ========== Icon ========== */
    --icon-color: #fff;
    --icon-size: .32px;
}
body{
    background-color: var(--first-color);
}
/* Scroll Bar Start */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, var(--scroll-color));
    border-radius: 6px;
}
/* Scroll Bar Start */
/* Header star */
/* ======== Nav Bar Start ======== */
.cg-header{
    height: 100px;
    padding: 0 20px;
    
  }
  .logo img{
    margin-top: 30px;
    width: 120px;
    float: left;
  }
  .cg-menu{
    float: right;
    line-height: 100px;
  }
  .cg-menu a{
    color: var(--menu-text-color);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;
    font-size: var(--menu-font-size);
    padding: 0 10px;
  
  }
  .show-menu-btn, .hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #5E888C;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .cg-menu a:hover{
    color: #5E888C;
    border-bottom: 2px solid var(--menu-text-color) ;
    
    transition: 0.7s;
    
  }
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #5E888C;
  }
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  
  @media screen and (max-width: 800px ) {
    .show-menu-btn{
        display: block;
    }
    .hide-menu-btn{
        display: block;
        color: #fff;
    }
    .cg-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #5E888C;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.5s ;
        z-index: 999999;
    }
    .cg-menu a{
        display: block;
        padding: 20px;
        color: #fff;
        
    }
    .cg-menu a:hover{
        color: #ADD7DB;
    }
    .hide-menu-btn{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #chk:checked ~ .cg-menu{
        right: 0;
    }
  }
/* Header End */
/* First Section start */
.first_section {
    /* background-color: var(--first-color); */
    background-color: var(--first-color);
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--first-color);
    background-image: url(./assets/img/bg-curvy-desktop.svg);
    background-position: center center; */
}
.first_section .hero_img{
    margin: auto;
    width: 50%;
   
}
.first_section .hero_img img{
    margin: auto;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;

   
}
.first_section .hero_txt{
    margin-left: 200px;
    margin-right: 200px;
}
.first_section .hero_txt h1{
    font-size: var(--heading-size);
    font-weight: 600;
    line-height: var(--heading-height);
    color: var(--heading-color);
    text-align: center;
}
.first_section .hero_paragraph p{
    font-size: var(--para-size);
    font-weight: 400;
    line-height: var(--para-height);
    color: var(--para-color);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
/* First Section End */
/* Second Section Start */
.second-section{
    width: 70%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.card{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin: 40px 40px;
    
}
.second-section .card .card-image img{
    width: 70px;
    margin-bottom: 20px;
}
.second-section .card .card-title {
    text-align: center;
    color: var(--second-heading-color);
    font-size: var(--second-heading-size);
    font-weight: 500;
}
.second-section .card .card-para {
    text-align: center;
    color: var(--para-color);
    font-size: var(--para-size);
}
/* Second Section End */
/* Third Section Start */
.thrid-section{

    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;

}
.thrid-section .third-section-right{
    margin-top: auto;
    margin-bottom: auto;

}

.thrid-section .third-section-right .tird-section-title{
    color: var(--heading-color);
    font-size: var(--heading-size);
    line-height: var(--heading-height);
    font-weight: 600;

}
.thrid-section .third-section-right .tird-section-para{
    color: var(--para-color);
    font-size: var(--para-size);
    line-height: var(--para-height);
    font-weight: 400;

}
/* Third Section End */



